*{
    padding: 0;
    margin: 0;
    /*border: 2px solid red;*/
    font-family: "Roboto Flex";
    color:#000000;
}

.navbar{
    display: flex;
    background-color: #1f2937;
    padding-left: 15%;
    padding-right: 15%;
    height: 80px;
    
}
.navbar div{
    display: flex;
    padding-right: 2%;
    align-items: center;
}

.navbar h1{
    color: #f9faf8;
    text-align: left;
    font-weight: 900;
    font-size: 24px;
}
.navbar div,ul{
    flex: auto;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e5e7eb;
    font-size: 16px;
    list-style-type: none;
    flex-grow: 0.3;
}

.navbar ul a{
    color: #e5e7eb;
    padding: 0.5%;
    font-weight: 200;
}
.navbar ul a li{
    color: #e5e7eb;
}

.contentContainer1 {
    display: flex;
    background-color: #1f2937;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15%;
    padding-right: 15%;
    height: 450px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.text{
    flex: 1 1 20em;
}

.text h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.text p{
    font-size: 18px;
    font-weight: 200;
    color: #e5e7eb;
}
.text button{
    background-color: #3882f6;
    border: none;
    color: white;
    font-size: 25px;
    padding: 8px 40px;
    border-radius: 10px;
    font-weight: 900;
}

.placeholder{
    flex: 2 2 20em;
}
.placeholder img{
    min-width: 220px;
    width: 100%;
    height: auto;
}

.contentContainer2{
    display: block;
    padding: 50px 15%;
}

.contentContainer2 div h1{
    text-align: center;
    padding: 50px 0;
    font-size: 36px;
    font-weight: 900;

}
.border{
    display: flex;
    max-width: 150px;
    margin: 20px 0;
    flex-direction: column;
    align-items: center;
}
.border p{
    white-space: normal;
    text-align: center;
    color: grey;

}

.illustrationContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

.illustration{
    border: 5px solid #3882f6;
    border-radius: 20px;
    height: 130px;
    width: 130px;
}

.contentContainer3{
    background-color: #e5e7eb;
    display: block;
    padding: 10% 15%;
}
.quote h1{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}
.author h2{
    text-align: right;
    color: #1f2937;
    font-weight: 600;
}
.contentContainer4{
    background-color: white;
    padding: 5% 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.textContainer{
    padding: 0 20px;
}
.textContainer h1,p{
    color: white;
}
.anotherContainer{
    display: flex;
    flex-direction: row;
    gap: 50px;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 2em 15%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.signupContainer button{
    background-color: #3882f6;
    border: 2px solid white;
    color: white;
    font-size: 25px;
    padding: 8px 40px;
    border-radius: 10px;
    font-weight: 900;
}

footer{
    background-color: #1f2937;
    padding: 30px 15%;
}

footer h1{
    color: white;
    text-align: center;
    font-size: 15px;
}


