*{
    padding: 0;
    margin: 0;
    /*border: 2px solid red;*/
    font-family: "Roboto Flex";
    color:#000000;
}

.navbar{
    display: flex;
    background-color: #1f2937;
    padding-left: 15%;
    padding-right: 15%;
    height: 80px;
    
}
.navbar div{
    display: flex;
    padding-right: 2%;
    align-items: center;
}

.navbar h1{
    color: #f9faf8;
    text-align: left;
    font-weight: 900;
    font-size: 24px;
}
.navbar div,ul{
    flex: auto;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e5e7eb;
    font-size: 16px;
    list-style-type: none;
    flex-grow: 0.3;
}

.navbar ul a{
    color: #e5e7eb;
    padding: 0.5%;
    font-weight: 200;
}
.navbar ul a li{
    color: #e5e7eb;
}

.contentContainer1 {
    display: flex;
    background-color: #1f2937;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15%;
    padding-right: 15%;
    height: 450px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.text{
    flex: 1 1 20em;
}

.text h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.text p{
    font-size: 18px;
    font-weight: 200;
    color: #e5e7eb;
}
.text button{
    background-color: #3882f6;
    border: none;
    color: white;
    font-size: 25px;
    padding: 8px 40px;
    border-radius: 10px;
    font-weight: 900;
}

.placeholder{
    flex: 2 2 20em;
}
.placeholder img{
    min-width: 220px;
    width: 100%;
    height: auto;
}

.contentContainer2{
    padding-left: 15%;
    padding-right: 15%;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.illustration{
    border: 2px solid black;
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.illustrationContainer{
    display: flex;
    flex-direction: row;
}
.border{
    text-align: center;
}


